/* ----------------------------------------
   RESET GLOBAL E ESTILIZAÇÃO BÁSICA
---------------------------------------- */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* ----------------------------------------
   ESTILO DO CORPO DA PÁGINA
---------------------------------------- */
body {
    height: 100vh; 
    display: flex; 
    background-image: url(../assets/fundo.jpeg); 
    background-size: cover; 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

/* ----------------------------------------
   ESTILO DO CONTAINER PRINCIPAL
---------------------------------------- */
main {
    width: 100%; 
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* ----------------------------------------
   ESTILO DO JOGO (CONTAINER PRINCIPAL DO JOGO)
---------------------------------------- */
.start-game {
    width: 60%; 
    height: 80%; 
    background-color: black; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 5em; 
    border-radius: 5%; 
}
/* ----------------------------------------
   JW: responsividade do fundo do jogo;
---------------------------------------- */
@media (max-width: 556px) {   /* alteração João wesley para largura do fundo preto*/
    .start-game {
      width: 90%;/* Largura fixa para telas menores que 556px */
      border-radius: 5%; 
      height: 60%;
    }
  }
/* ----------------------------------------
   ESTILO DOS TÍTULOS 
---------------------------------------- */
.titles {
    color: white; /* Texto branco */
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    flex-direction: column; /* Organiza os títulos na vertical */
    justify-content: center; /* Alinha os itens no centro */
    align-items: center; /* Alinha os itens no centro */
    margin-top: 2em; /* Espaçamento acima */
    row-gap: 0.5em; /* Espaço entre os títulos */
}

.titles h1 {
    font-size: clamp(2em, 10vw , 7em); /* Tamanho grande de fonte                          João Wesley: responsividade gradual*/
    font-family: "Press Start 2P", system-ui; /* Fonte retro */
    font-weight: 400; /* Peso normal */
    font-style: normal; /* Sem estilo itálico */
}

.titles h2 {
    font-size: clamp(1em, 5vw , 4em); /* Tamanho grande, mas menor que o H1                João Wesley: responsividade gradual*/
    font-family: "Handjet", sans-serif; /* Fonte moderna */
    font-optical-sizing: auto; /* Ajuste de largura das letras */
    font-weight: 600; /* Peso semi-negrito */
    font-style: normal; /* Sem estilo itálico */
}

/* ----------------------------------------
   ESTILO DOS BOTÕES
---------------------------------------- */
.buttons {
    display: flex; /* Usa flexbox para organizar os botões */
    flex-direction: column; /* Organiza os botões na vertical */
}


#a-btn {
    display: inline-block; /* Faz o link se comportar como um bloco inline */
    text-align: center; /* Centraliza o texto do botão */
    color: black; /* Cor do texto */
    font-family: "Handjet", sans-serif; /* Fonte do texto */
    padding: 3em 6em; /* Espaçamento interno para criar o efeito de botão */
    font-weight: 800; /* Peso de fonte grosso */
    font-size: clamp(0.6., 1.2, 2.4em); /* Tamanho de fonte moderado                   João Wesley: responsividade do botão*/
    text-decoration: none; /* Remove sublinhado do link */
    background-color: white; /* Cor de fundo branca */
    border-radius: 5%; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transições suaves para cor e tamanho */
}

#a-btn:hover {
    background-color: lightgray; /* Muda a cor de fundo para cinza claro */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
}

/* ----------------------------------------
   ESTILO DO CONTADOR DE VITÓRIAS
---------------------------------------- */
.contador {
    color: white; /* Texto branco */
    margin-top: 2em; /* Espaçamento acima */
    font-family: "Handjet", sans-serif; /* Fonte moderna */
    font-weight: 800; /* Peso de fonte grosso */
    font-size: 2em; /* Tamanho grande de fonte */
    text-decoration: none; /* Remove sublinhado */
    text-align: center; /* Centraliza o texto */
}


#btnMute {
    position: absolute;
    bottom: 94vh;
    left: 95%;
    padding: 0;
    background-image: url(../assets/mute-2-32.png); /* Caminho da sua imagem */
    background-size: cover; /* Isso vai cobrir todo o espaço do botão com a imagem */
    text-indent: -9999px; /* Remove qualquer texto dentro do botão */
    border: none;
    cursor: pointer;
    width: 40px; /* Tamanho do botão */
    height: 40px; /* Tamanho do botão */
    background-color: transparent; /* Garante que o fundo do botão seja transparente */
    box-shadow: none; /* Remove sombras que possam estar interferindo */
}
